<div class="container pb-5 mb-5">
   
    <div class="row mt-5 mb-5 pb-5">
        <div class="col-md-4">
            <div class="card border-0 " style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img src="./assets/perfil.jpeg" class="card-img-top rounded-circle w-75" alt="Foto do usuário">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Cristie Ferreira</h5>
                  <p class="card-text text-center">Tenho 25 anos, sou de João Pessoa - PB. Estou a procura de um estágio.</p>
                   <!--<a href="#" class="btn btn-outline-dark d-flex justify-content-center">Github</a> --> 

                  <hr class="mt-4 mb-4">
                </div>
              </div>
        </div>
        <div class="col-md-8 pb-5">
            <div class="card mb-4 card border-0">
                <div class="card-body ">
                    <h3 class="card-title text-center mb-4">Sejam Bem vindos!</h3>
                    <p class="card-text ">
                        Sou iniciante na área de desenvolvimento, estou a procura de estágio na área para obter mais conhecimentos e conseguir entrar no mercado de trabalho de desenvolvedores. Tenho conhecimentos em Java, Html, CSS, Spring Boot, Bootstrap, SQL, MongoDB, JPA, Github, Angular, Python, TypeScript. Possuo também, conhecimentos intermediários de inglês.
                    </p>
                    <p class="card-text">
                        Atualmente estudo remotamente online através da DIO, sites à parte, youtube sobre as tecnologias descritas anteriormente, e também curso licenciatura em matemática. Pretendo futuramente juntar ambos os conhecimentos para a criação de aplicativos.
                    </p>
                    <hr class="mt-4 mb-4">
                    <h5 class="card-title text-center mb-4">Alguns conhecimentos complementares: </h5>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                        <li class="nav-item">Java completo Programação Orientada a Objetos + Projetos - Udemy</li>
                        <li class="nav-item">Capgemini FullStack Java and Angular - Digital Innovation One</li>
                    </ul>
                </div>
               
           </div>  
        </div>
    </div>
</div>
